body {
  margin: 0;
  background: #08051F;
  color:#FFFF;
   font-family: 'Odibee Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Odibee Sans';
}
@tailwind base;
@tailwind components;
@tailwind utilities;